{% extends 'base.html' %}
{% block title %} Lista de Personas {% endblock %}
{%block content %}


<!--IniciaModal-->
 <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
    <h3 id="myModalLabel">Eliminar Persona</h3>
    </div>
    <div class="modal-body">
    <p>¿Realmente desea eliminar la persona <span id="modal_name"></span>?</p>
    </div>
    <div class="modal-footer">
        <form method="post" id="frmEliminar">
            {% csrf_token %}
            <input type="hidden" id="modal_idPersona" name="equipo_id">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
            <button type="submit" class="btn btn-danger">Eliminar</button>
        </form>
    </div>
</div>
<!--EndModal-->



<h3>Catalogo de Personas:</h3>
{% if user.is_authenticated %}
<a href="{% url "vista_agregar_persona" %}" class="btn"><i class="icon-plus"></i> Nuevo</a><br>
{% endif %}
<br>
{% if personas %}
    <table class="table table-hover" id="tabla_productos">
    	<thead>
                <tr>
                  <th>Apellidos</th>
                  <th>Nombre(s)</th>
                  <th>Cargo</th>
                  <th>Departamento</th>
                </tr>
        </thead>
    {% for p in personas %}
     	<tbody>
     		<tr id="tr{{p.id}}">
     			<td>{{ p.apellidos }}</td>
  				<td>{{ p.nombres }}</td>
  				<td>{{ p.cargo }}</td>
  				<td>{{ p.departamento }}</td>
  				<td><a class="btn" href="/persona/{{p.id}}/"><i class="icon-search"></i>   Ver</a></td>
  				{% if user.is_authenticated and user.is_staff %}
  					<td><a class="btn" href="/edit/persona/{{p.id}}/"><i class="icon-pencil"></i>  Editar </a></td>
  					<td><a href="#myModal" role="button" class="btn btn-danger delete" data-toggle="modal" id="{{p.id}}" data-name="{{p.apellidos}}"><i class="icon-trash icon-white"></i>Eliminar</a></td>
  				{% endif %}				
			</tr>
		</tbody>
	{% endfor %}
    </table>
	
{% else %}
	<h2>No existen personas activas en la MPT :( </h2>
{% endif %}
<br>
{% if personas %}
    <div class="pagination">
    <ul>
		<li><a href="/personas/page/1"> << </a></li>
	{% if personas.has_previous %}
		<li><a href="/personas/page/{{personas.previous_page_number }}/"> Prev </a></li>
	{% else %}
		<li><a href="#"> Prev </a></li>
	{% endif %}
	{% if personas.has_next %}
		<li><a href="/personas/page/{{personas.next_page_number }}/"> Next </a></li>
	{% else %}
		<li><a href="#"> Next </a></li>
	{% endif %}
		<li><a href="/personas/page/{{personas.paginator.num_pages }} "> >> </a><li>
	</ul>
	</div>
	<h4> Página {{ personas.number }} de {{ personas.paginator.num_pages }}</h4>
{% endif %}
{% endblock %}
