{% extends 'base.html' %}
{% block title %} Lista de Locaciones {% endblock %}
{%block content %}


<!--IniciaModal-->
 <div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
    <h3 id="myModalLabel">Eliminar Tipo</h3>
    </div>
    <div class="modal-body">
    <p>¿Realmente desea eliminar el tipo <span id="modal_name"></span>?</p>
    </div>
    <div class="modal-footer">
        <form method="post" id="frmEliminar">
            {% csrf_token %}
            <input type="hidden" id="modal_idTipo" name="tipo_id">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
            <button type="submit" class="btn btn-danger">Eliminar</button>
        </form>
    </div>
</div>
<!--EndModal-->



<h3>Catalogo de Tipos:</h3>
{% if user.is_authenticated %}
<a href="{% url "vista_agregar_tipo" %}" class="btn"><i class="icon-plus"></i> Nuevo</a><br>
{% endif %}
<br>
{% if tipos %}
    <table class="table table-hover" id="tabla_tipos">
    	<thead>
                <tr>
                  <th>Tipo</th>
                </tr>
        </thead>
    {% for p in tipos %}
     	<tbody>
     		<tr id="tr{{p.id}}">
     			<td>{{ p.descripcion }}</td>
  				<td><a class="btn" href="/tipo/{{p.id}}/"><i class="icon-search"></i>   Ver</a></td>
  				{% if user.is_authenticated and user.is_staff %}
  					<td><a class="btn" href="/edit/tipo/{{p.id}}/"><i class="icon-pencil"></i>  Editar </a></td>
  					<td><a href="#myModal" role="button" class="btn btn-danger delete" data-toggle="modal" id="{{p.id}}" data-name="{{p.descripcion}}"><i class="icon-trash icon-white"></i>Eliminar</a></td>
  				{% endif %}				
			</tr>
		</tbody>
	{% endfor %}
    </table>
	
{% else %}
	<h2>No existen tipos activas en la MPT :( </h2>
{% endif %}
<br>
{% if tipos %}
    <div class="pagination">
    <ul>
		<li><a href="/tipos/page/1"> << </a></li>
	{% if tipos.has_previous %}
		<li><a href="/tipos/page/{{tipos.previous_page_number }}/"> Prev </a></li>
	{% else %}
		<li><a href="#"> Prev </a></li>
	{% endif %}
	{% if tipos.has_next %}
		<li><a href="/tipos/page/{{tipos.next_page_number }}/"> Next </a></li>
	{% else %}
		<li><a href="#"> Next </a></li>
	{% endif %}
		<li><a href="/tipos/page/{{tipos.paginator.num_pages }} "> >> </a><li>
	</ul>
	</div>
	<h4> Página {{ tipos.number }} de {{ tipos.paginator.num_pages }}</h4>
{% endif %}
{% endblock %}
